.heart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .total {
    margin-left: 8px !important;
  }

  svg {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}
