header {
  display: flex;
  width: calc(100% - 32px);
  height: 84px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);

  button {
    all: unset;
  }

  .header-icon {
    cursor: pointer;
  }

  svg {
    cursor: pointer;
  }
}

@media (width > 393px) {
  header {
    width: calc(100% - 96px) !important;
    padding: 16px 48px !important;
  }
}
